/**=============== Additional styles ===============*/
@media screen and (max-width: 1157px) {

    /** Additional class for sections  */
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    /** Additional container class */
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}

/**=============== Header section ===============*/
/** Hidden mobile menu (none for tablet and desktop) */
.mobile-menu-open,
.mobile-menu {
    display: none;
}

/** Logo style in the header */
.header .logo-link {
    margin-right: 120px;
}

/** Navigation style */
.nav-list {
    display: flex;
    gap: 40px;
}

/** Current page line */
.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
}

/** Contacts style */
.contacts-list {
    display: block;
}

@media screen and (max-width: 1157px) {
    .contact-item:first-child a {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 1157px) {
    .contact-link {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
    }
}

/**=============== Hero section ===============*/
.hero {
    /* 768px > + */
    background-image: var(--bg-gradient), url(../images/hero.jpg);
}

/* 768px > + (2x)*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: var(--bg-gradient), url(../images/hero@2x.jpg)
    }
}

/** Title in hero section (tablet) */
@media screen and (max-width: 1157px) {
    .hero-title {
        max-width: 496px;
        margin-bottom: 36px;
    }
}

/**=============== Features section ===============*/
@media screen and (max-width: 1157px) {
    .features-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

.features-item {
    flex-basis: calc((100% - 24px)/2);
}

.features-name {
    text-align: start;
}

/**=============== Team section ===============*/
@media screen and (max-width: 1157px) {
    .team-container {
        width: 582px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
}

/**=============== Customers section ===============*/
@media screen and (max-width: 1157px) {
    .customer-container {
        width: 582px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.customer-list {
    gap: 72px 24px;
}

.customer-item {
    max-width: 168px;
}

/**=============== Filter section ===============*/
.filter {
    padding-top: 64px;
    padding-bottom: 96px;
}

.filter-list {
    margin-bottom: 64px;
}

/** Style for cards in category thumb*/
.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}

.category-item {
    flex-basis: calc((100% - 24px) / 2);
}

/**=============== Footer section ===============*/
.footer-container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1157px) {
    .footer-container {
        flex-wrap: wrap;
        gap: 72px 24px;
        width: 582px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

/** Footer logo */
.footer .logo-link {
    text-align: start;
}

/** Footer information container*/
.footer-information {
    max-width: 264px;
}

.social-text {
    text-align: start;
}

/** Footer subscribe container */
.subscribe-text {
    text-align: start;
}

.subscribe-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.subscribe-form-input {
    min-width: 264px;
}

/**=============== Modal section ===============*/
.modal {
    min-width: 408px;
    padding: 24px;
    padding-top: 72px;
}